.background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.noOverflow {
  height: 100vh;
  position: absolute;
  z-index: -1;
}
.githubMobile {
  display: none;
}
@media only screen and (max-width: 720px) {
  .githubMobile {
    display: block;
    position: fixed;
    bottom: 60px;
    transform: scale(1.3);
  }
}
