.background {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.noOverflow {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.githubMobile {
  display: none;
}
@media only screen and (max-width: 720px) {
  .githubMobile {
    display: block;
    position: fixed;
    bottom: 100px;
    transform: scale(1.3);
  }
}
